<tr>
  <td class="align-middle"> <%= badge.title %> </td>
  <td class="align-middle"> <%= badge.description %> </td>
  <td class="align-middle"> <%= image_tag badge.icon_path %> </td>
  <td class="align-middle"> <%= link_to "Show", admin_badge_path(badge)%></td>
  <td class="align-middle">
    <%= link_to "Edit", edit_admin_badge_path(badge) %>
  </td>

  <td class="align-middle"> <%= link_to "Delete", 
                  admin_badge_path(badge),
                  method: :delete,
                  data: {confirm: "Are you sure?"}%>
  </td>
</tr>