<h1><%= @badge.title %> Badge </h1>
<p> Title: <%= @badge.title %> </p>
<p>Icon: <%= image_tag @badge.icon_path %> </p>
<p>Description: <%= @badge.description %> </p>
<%= link_to "Back", admin_badges_path%>